# Dependency directories
/vendor/
/node_modules/

# Dependency logs and cache
npm-debug.log
*.log
*.cache
*.phar
*.lock
package-lock.json
yarn-error.log

# Build directories
/build/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel with changed public path
public_html/storage
public_html/hot

# Laravel specific keys and environment
storage/*.key
.env

# Homestead specific files
Homestead.yaml
Homestead.json
/.vagrant

# PHPUnit specific files
.phpunit.result.cache

# PHP CS Fixer
.php-cs-fixer.cache

# Git specific
.git-blame-ignore-revs
.git-rewrite/

# Documentation
/docs/
/docs/cache/

# Ignored temporary files
*.tmp
*.swp
*.swo
